.my-cafe-card {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  transition: transform 0.2s ease;
}

.cafe-img {
  width: 100%;
  height: 350px; 
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

